<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles.css">
<title>home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: #d4a6c3;
  color: rgb(17, 16, 16);
  font-size: 25px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <img src="books.jpg" width="50" height="60">
  <h1>MICKEY'S BOOKSTORE</h1>
  <p>WELCOME TO OUR BOOKSTORE MANAGEMENT SYSTEM</p>
</div>

<div class="content">
  <h2>WHERE TO GO?</h2>
  <a href = '/'> HOMEPAGE </a> <br>
  <a href = '/newbook'> ADD A NEW BOOK </a> <br>
  <a href = '/listbook'> LIST THE BOOKS </a> <br>
  <a href = '/searchbyauthor'> FILTER THE LIST</a> <br>
</div>


</body>
</html>