<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles.css">
<title>invalid</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

  <h1>ERROR</h1>
  <p>sorry, your input should be more than 3 letters. :) please go back to fix it </p>
  <a href = '/newbook'> FIX INPUT</a> <br>


</body>
</html>