<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styles.css">
<body>

<form action = '/addbook' method = "POST">
    title: <input type = "text" name = "title"/> <br><br>
    author: <input type = "text" name = "author"/> <br><br>
    topic: <input type = "text" name = "topic"/> <br><br>
    date: <input type = "date" name = "date"/> <br><br>
    summary: <input type = "text" name = "summary"/> <br><br>
    <br>

    <button onclick="myFunction()">SUBMIT</button>
</form> 

<p id="demo"></p>

<script>
    function myFunction() {
        alert("The form was submitted");
    }
    </script>

<h2>WHERE TO GO?</h2> 
<a href = '/'> HOMEPAGE </a> <br>
<a href = '/addbook'> ADD ANOTHER NEW BOOK </a> <br>
<a href = '/listbook'> LIST OF BOOKS</a> <br>
<a href = '/deletebook'> DELETE A BOOK bY TOPIC</a> <br>
<a href = '/deletebookdate'> DELETE A BOOK BY DATE</a> <br>
<a href = '/updatebook'> UPDATE A BOOK</a> <br>

</body>
</html>
